<%- include('partials/header'); %>
  <%- include('partials/navbar') %> 
  <h1>Login successful</h1>
  <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
<%- include('partials/footer'); %>